:root {
  --main-font: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --contact-color: #434455;
  --button-font-color: #ffffff;
  --subtitle-color: #2e2f42;
  --fill-text-color: #f4f4fd;
  --color-different-style: #4d5ae5;
  --cont-col: #e7e9fc;
  --modal-icon: #2e2f42;
  --modal: #fcfcfc;
  --social-iccos: #8e8f99;
  --social-cos: #afb1b8;
  --fut-hov-icon: #31d0aa;
}
/*скидання початкових відступів*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
a {
  display: block;
}
/*----------------------------------------------*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--contact-color);
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px solid #4d5ae5;*/
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    /*outline: 1px solid tomato;*/
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    /* outline: 1px solid tomato;*/
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    /*outline: 1px solid tomato;*/
  }
}
/*@media screen and (max-width: 427px) {
  .container {
    width: 320px;
    outline: 1px solid tomato;
  }
}*/

/*-------------хедер----------------------------------*/

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 22px;
}
.page-nav {
  display: flex;
  align-items: center;
}
/*.hero{
    padding-top: 112px;
    padding-bottom: 112px;
    width: 428px;
}*/
.logo {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-different-style);
  margin-right: 120px;
}
.logo-style {
  color: var(--subtitle-color);
}
.menu-item {
  position: relative;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-lin {
  color: var(--accent-color);
  position: relative;
}
.menu-lin::after {
  content: "";
  position: absolute;
  display: flex;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 20px;
}

.contact-phone-number {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--contact-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.course-cleaning {
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .livsd {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .course-cleaning {
    display: none;
  }
}
@media screen and (max-width: 427px) {
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-menu {
    display: none;
  }
}

/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .addr {
    display: flex;
    align-items: center;
  }

  .livsd {
    margin-right: 40px;
  }
  .contact-phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .menu-lin::after {
    content: "";
    position: absolute;
    display: flex;
    width: 48px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 13px;
  }
}
/*---------------------------/комп-----------------*/
/*-------------/хедер----------------------------------*/

@media screen and (max-width: 767px) {
  /*--------------------------mobile-menu----------------------*/
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--button-font-color);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu_close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cont-col);
    border: 1px solid #e7e9fc;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    height: 22px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
  }
  .mobile-menu_container {
    display: flex;
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  /*.menu-mobile_item:not(:last-child) {
    margin-right: 40px;
  }*/

  .menu-mobile_item {
    position: relative;
    margin-bottom: 40px;
  }

  .menu-mobile_link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--modal-icon);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mobile_linkon {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobilevids {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--contact-color);
  }
  .telmob {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }

  .contact-mobile-number {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    color: var(--color-different-style);
  }

  .contact-mobile-number:hover,
  .contact-mobile-number:focus {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-different-style);
  }

  .mobile-list {
    display: flex;
    justify-content: center;
    gap: 56px;
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .social-mobile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-different-style);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-mobile-link:hover,
  .social-mobile-link:focus {
    background-color: var(--accent-color);
  }
  .social-mobile-icon {
    fill: var(--fill-text-color);
  }
  /*---------для мобілього меню ме--------------------------------*/
  @media screen and (max-width: 427px) {
    .mobile-menu_container {
      padding-left: 20px;
    }
    .menu-mobile_linkon {
      font-size: 20px;
    }
    .menu-mobile_link {
      font-size: 20px;
    }
    .contact-mobile-number {
      font-size: 20px;
    }
    .mobilevids {
      font-size: 14px;
    }
    .mobile-list {
      gap: 30px;
    }
    .social-mobile-link {
      width: 30px;
      height: 30px;
    }
    .social-mobile-icon {
      width: 15px;
      height: 15px;
    }
  }

  /*-----------------/для мобільного менюме---------------------*/

  /*----------------------------/mobile-menu-------------------*/
}

/*------------------------хіро-----------------------*/
.hero {
  /*padding-top: 112px;
    padding-bottom: 112px;*/
  background-color: var(--subtitle-color);
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  font-weight: 700;
  /*font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;*/
  color: var(--button-font-color);
  /*margin-bottom: 72px;
    max-width: 320px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-font-color);
  background-color: var(--color-different-style);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/dark-bg.jpg");
  }
  .main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    max-width: 320px;
  }
}
@media screen and (max-width: 427px) {
  .main-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
  }
}
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/dark-bgtab.jpg");
  }
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desctop/people-office1.jpg");
  }
  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/*---------------------------/комп-----------------*/
/*------------------------/хіро-----------------------*/

/*-----------------------секція1-----------------------*/
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.first-section {
  display: flex;
  justify-content: center;
}

.the-third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
/*----------------------------мобілка----------------*/
@media screen and (max-width: 767px) {
  .first-section {
    flex-wrap: wrap;
    gap: 72px 0;
  }
  .social-list-ic {
    display: none;
  }
  .the-third-title {
    margin-bottom: 8px;
    text-align: center;
  }
}
@media screen and (max-width: 427px) {
  .the-third-title {
    font-size: 30px;

  }
  .hero-text {
    font-size: 14px;
}
}

/*----------------------мобілка-----------------------*/
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .first-section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .licalc {
    flex-basis: calc((100% - 24px) / 2);
  }
  .social-list-ic {
    display: none;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .first-section {
    gap: 24px;
  }
  .licalc {
    flex-basis: calc((100% - 72px) / 4);
  }
  .social-list-ic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--fill-text-color);
    margin-bottom: 8px;
  }
  .the-third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /*letter-spacing: 0.02em;
  color:var(--subtitle-color);
  margin-bottom: 8px;*/
  }
  .hero-text {
    font-weight: 400;
  }
}
/*---------------------------/комп-----------------*/

/*-----------------------/секція1-----------------------*/

/*-----------------------секція2-----------------------*/

/*.employees{
  display: flex; 
  gap: 24px;
}*/
.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--subtitle-color);
  margin-bottom: 72px;
}
/*----------------------------мобілка----------------*/
@media screen and (max-width: 767px) {
  .sectionwhat {
    display: none;
  }
}
/*----------------------мобілка-----------------------*/
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .sectionwhat {
    display: none;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .employees {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 24px;
  }
  .sectionwhat {
    display: flex;
    padding-bottom: 120px;
  }
}
/*---------------------------/комп-----------------*/

/*-----------------------/секція2-----------------------*/

/*-----------------------секція3-----------------------*/
.employees-section {
  background-color: var(--fill-text-color);
}
.ner {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.employees-ca {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}
/*.employees-ca:not(:last-child) {
  margin-bottom: 72px;
}*/
.employees-card-content-wraper {
  border: 1px solid var(--cont-col);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--button-font-color);
  /*width: 264px;*/
}
.social-list {
  display: flex;
  justify-content: center;
  /*gap: 24px;*/
}
.employees-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  margin-bottom: 8px;
}
.social-list-item {
  flex-basis: calc((100% - 120px) / 6);
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-different-style);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-iconfut {
  fill: var(--fill-text-color);
}

/*----------------------------мобілка----------------*/
.social-list {
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .the-third-titlekom{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
.employees-ca {
    margin-left: auto;
    margin-right: auto;
  }
  /*.employees-ca:not(:last-child) {
    margin-bottom: 72px;
  }*/

}
@media screen and (max-width: 427px) {
  .suptitle {
    font-size: 30px;
  }
  .ner {
    gap: 72px;
  }

}
/*----------------------мобілка-----------------------*/
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .ner {
    gap: 64px 24px;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {

  .ner {
    flex-wrap: nowrap;
  }
  .employees-ca {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/*---------------------------/комп-----------------*/

/*-----------------------/секція3-----------------------*/

/*-----------------------секція4-----------------------*/

/*.social-list {
  display: flex;
  justify-content: center;

}*/

.social-list-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid var(--social-cos);
  border-radius: 4px;
  background-color: var(--button-font-color);
}
.social-list-iccost {
  fill: var(--social-iccos);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-cost:hover,
.social-list-cost:focus {
  border: 1px solid var(--accent-color);
}
.social-list-cost:hover .social-list-iccost,
.social-list-cost:focus .social-list-iccost {
  fill: var(--accent-color);
}
.social-listt {
  display: flex;
  flex-wrap: wrap;
}
/*----------------------------мобілка----------------*/
@media screen and (max-width: 767px) {
  .social-listt {
    gap: 72px 16px;
  }
  .social-list-item {
    flex-basis: calc((100% - 16px) / 2);
  }

}
@media screen and (max-width: 427px) {
  .social-list-cost{
    width: 130px;
    height: 70px;
  }
  .social-list-iccost{
    width: 104px;
  }
  .social-listt{
    gap: 65px 16px;
  }
}

/*----------------------/мобілка-----------------------*/
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .social-listt {
    gap: 72px 24px;
  }
  .social-list-iccost {
    width: 104px;
  }
  .social-list-cost {
    width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .social-listt {
    gap: 24px;
    flex-direction: row;
  }
  .social-list-cost {
    width: 100%;
    flex-basis: calc((100% - 120px) / 6);
  }
}
/*---------------------------/комп-----------------*/
/*-----------------------/секція4-----------------------*/

/*-----------------------футер-----------------------*/
.footer-style {
  padding: 96px 0;
  background-color: var(--subtitle-color);
}
.futerblok {
  max-width: 268px;
}

.social-listfutt {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-linkfut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-different-style);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}
.social-list-linkfut:hover,
.social-list-linkfut:focus {
  background-color: var(--fut-hov-icon);
}
.suptitle-theme-light {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fill-text-color);
  margin-top: 17.5px;
}
.the-third-titlefut {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-font-color);
  margin-bottom: 16px;
  /*text-align: center;*/
}
.modal-fut-input-wrapper {
  display: flex;
  /*gap: 24px;*/
  position: relative;
  justify-content: center;
  align-items: center;
}
.modal-fut-submit {
  width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-font-color);
  background-color: var(--color-different-style);
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-fut-submit:hover,
.modal-fut-submit:focus {
  background-color: var(--accent-color);
}
.modal-fut-input::placeholder {
  font-size: 12px;
  line-height: 2;
  color: var(--button-font-color);
}
.modal-fut-input {
  /*width: 264px;*/
  height: 40px;
  border: 1px solid var(--button-font-color);
  border-radius: 4px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0.15);
}
.modal-fut-input:focus {
  outline: none;
  color: var(--modal);
}

.modal-fut-input-desc {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--button-font-color);
  margin-bottom: 16px;
}
.basement-style-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.modal-fut-input-icon {
  fill: currentColor;
  margin-left: 16px;
}
.social-list-linkfut:hover,
.social-list-linkfut:focus {
  background-color: var(--fut-hov-icon);
}
.futer-container {
  display: flex;
}
.social-list-icon {
  fill: var(--fill-text-color);
}

/*----------------------------мобілка----------------*/
@media screen and (max-width: 767px) {
  .futer-container {
    /*width: 398px;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
  .futerblok {
    max-width: 268px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-fut-input {
    width: 398px;
  }
  .modal-fut-input-wrapper {
    flex-direction: column;
  }
  .modal-fut-input {
    margin-bottom: 16px;
  }
  .logo {
    margin-right: 0%;
    text-align: center;
  }
  .modal-fut-input-desc {
    text-align: center;
  }
  .the-third-titlefut {
    text-align: center;
  }

  .social-list-item {
    gap: 0;
  }
  .social-list-iconfut {
    width: 24px;
    height: 24px;
  }
  .social-list-linkfut:hover,
.social-list-linkfut:focus {
  background-color: var(--fut-hov-icon);
}

}
/*----------------------/мобілка-----------------------*/
@media screen and (max-width: 427px) {
  .modal-fut-input {
    width: 280px;
  }
}
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .futer-container {
    width: 552px;
  }
  .footer-style {
    padding-left: 108px;
  }
  .futer-container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .social-listfut {
    display: flex;
    gap: 24px;
  }

  .futerblok {
    max-width: 264px;
  }

  .suptitle-theme-light {
    margin-top: 16px;
  }
  .social-list-itemfut {
    flex-basis: calc((100% - 24px) / 2);
  }
  .footer-style {
    gap: 72px 24px;
  }
  .modal-fut-input {
    width: 264px;
    margin-right: 24px;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .futer-container {
    width: 1128px;
    justify-content: center;
    gap: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-style {
    padding: 100px 0px;
  }

  .modal-fut-input {
    width: 264px;
  }
  .soclink {
    margin-right: 80px;
  }
  .ondiv {
    margin-right: 120px;
  }

}
/*---------------------------/комп-----------------*/

/*-----------------------/футер-----------------------*/

/*-----------------modal-window----------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  background-color: var(--modal);
  padding: 72px 24px 24px 24px;
}
.modal-close-bth {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cont-col);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-close-bth-icon {
  fill: var(--modal-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bth:hover,
.modal-close-bth:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
}
.modal-close-bth:hover .modal-close-bth-icon,
.modal-close-bth:focus .modal-close-bth-icon {
  fill: var(--button-font-color);
}

/*-----------------/modal-window----------------------------*/
/*-----------------modal-form----------------------------*/
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input-desc {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--social-iccos);
  margin-bottom: 4px;
}

.modal-form-field {
  margin-bottom: 16px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--color-different-style);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-form-message::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--social-iccos);
  margin-bottom: 24px;
}
.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/click.svg");
}
.modal-form-check:focus + .modal-form-check-desc::before {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.modal-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-font-color);
  background-color: var(--color-different-style);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}
.par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}
.privpos {
  color: var(--color-different-style);
}

/*-----------------/modal-form----------------------------*/
/*----------------------------мобілка----------------*/
@media screen and (max-width: 479px) {
  .menu-mobile_item {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    padding: 72px 16px 24px;
    min-width: 392px;
  }
}

/*----------------------/мобілка-----------------------*/
/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 25px 24px 23px;
    width: 408px;
  }
}
/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1200px) {
  .modal {
    padding: 72px 24px 24px;
  }
}

/*---------малий екран--------------------------------------*/

/*---------/малий екран--------------------------------------*/
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/dark-bg@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/dark-bg@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/dark-bg@2x.jpg");
  }
}

/*


.social-list-itemfut{
flex-basis: calc((100% - 48px) / 4);
}

*/
.posic {
  position: relative;
}

.page-head {
  border-bottom: 1px solid var(--cont-col);
}

.emplo {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.emplo:hover,
.emplo:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.employees-card-content-wra {
  border: 1px solid var(--cont-col);
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 360px;
}

.but {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.first-sectionfut {
  display: flex;
  gap: 120px;
}
.sect {
  padding-top: 96px;
}

.licalcsekost {
  flex-basis: calc((100% - 360px) / 3);
}

/*-----------------COMPONENTS----------------------------*/
.suptitle-theme-dark {
  color: var(--contact-color);
}

.button-color-first {
  color: var(--button-font-color);
  background-color: var(--accent-color);
}

.basement-style-logo {
  color: var(--fill-text-color);
}

.two-buttons {
  padding: 12px 24px;
  border: 1px solid var(--cont-col);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-different-style);
  background-color: var(--fill-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.two-buttons:hover,
.two-buttons:focus {
  color: var(--button-font-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-----------------/COMPONENTS----------------------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  font-size: 16px;
  padding: 40px 32px 0 32px;
  line-height: 24px;
  color: var(--fill-text-color);
  background-color: var(--color-different-style);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.emplo:hover .overlay,
emplo:focus .overlay {
  transform: translate(0, 0);
}
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 23px;
}
.the-third-titleport {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.hero-textport {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
